<div class="filters">
    <form class="filter text-decoration-none mt-4 mb-4" action="/listings/search" method="GET">
      <label class="form-label" for="trending"></label>
      <i class="fa-solid fa-fire"></i>
      <br>
      <input class="btn p-0 text-decoration-none" id="trending" name="category" type="submit" value="Trending"></input>
    </form>
    <form class="filter text-decoration-none mt-4 mb-4" action="/listings/search" method="GET">
        <label class="form-label" for="rooms"></label>
      <i class="fa-solid fa-bed"></i>
      <br>
      <input class="btn p-0 text-decoration-none" id="rooms" name="category" type="submit" value="Rooms"></input>
    </form>
    <form class="filter text-decoration-none mt-4 mb-4" action="/listings/search" method="GET">
        <label class="form-label" for="iconic cities"></label>
      <i class="fa-solid fa-mountain-city"></i>
      <br>
      <input class="btn p-0 text-decoration-none" id="iconic cities" name="category" type="submit" value="Iconic cities"></input>
    </form>
    <form class="filter text-decoration-none mt-4 mb-4" action="/listings/search" method="GET">
        <label class="form-label" for="castles"></label>
      <i class="fa-brands fa-fort-awesome"></i>
      <br>
      <input class="btn p-0 text-decoration-none" id="castles" name="category" type="submit" value="Castles"></input>
    </form><form class="filter text-decoration-none mt-4 mb-4" action="/listings/search" method="GET">
        <label class="form-label" for="treehouses"></label>
      <i class="fa-solid fa-tree-city"></i>
      <br>
      <input class="btn p-0 text-decoration-none" id="treehouses" name="category" type="submit" value="Treehouse"></input>
    </form>
    <form class="filter text-decoration-none mt-4 mb-4" name="category" action="/listings/search" method="GET">
        <label class="form-label" for="mountains"></label>
      <i class="fa-solid fa-mountain-sun"></i>
      <br>
      <input class="btn p-0 text-decoration-none" id="mountains" name="category" type="submit" value="Mountains"></input>
    </form>
    <form class="filter text-decoration-none mt-4 mb-4" action="/listings/search" method="GET">
        <label class="form-label" for="camping"></label>
      <i class="fa-solid fa-campground"></i>
      <br>
      <input class="btn p-0 text-decoration-none" id="camping" name="category" type="submit" value="Camping"></input>
    </form>
    <form class="filter text-decoration-none mt-4 mb-4" action="/listings/search" method="GET">
        <label class="form-label" for="arctic"></label>
      <i class="fa-regular fa-snowflake"></i>
      <br>
      <input class="btn p-0 text-decoration-none" id="arctic" name="category" type="submit" value="Arctic"></input>
    </form>
    
    <form class="filter text-decoration-none mt-4 mb-4" action="/listings/search" method="GET">
        <label class="form-label" for="pools"></label>
      <i class="fa-solid fa-person-swimming"></i>
      <br>
      <input class="btn p-0 text-decoration-none" id="pools" name="category" type="submit" value="Amazing pools"></input>
    </form>
    <div class="form-check-reverse form-switch d-flex justify-content-between align-items-center p-3 ms-2 ">
      <label class="form-check-label" for="flexSwitchCheckDefault">Display total after taxes</label>
      <input class="form-check-input ms-2" type="checkbox" role="switch" id="flexSwitchCheckDefault">
    </div>
    
  </div>
